/* --------------------------------------------Global*/
ul {
  list-style-type: none;

}
/*-------------------Layout---------------------*/
.flex-container{
  display:flex;
  width: 1000%
  margin: 0 auto;
  justify-content: space-around;
  align-content: center;
  justify-content: center;
  justify-content: space-between;

}
/*-------------------Aside---------------------*/

.flex-aside {
  background-color: #5C5961;
  width:  50%
  margin-right: 20%;
}
.flex-aside * {
  color: white;
}

.flex-aside p{
  padding-left: 1.8em;
}

.flex-aside h2 {
  text-transform: uppercase;
  text-decoration-line: underline;
  text-indent: 30px;
  text-spacing: 5px;
  border-bottom: 2px solid white;
}

.flex-aside section h2:first-child{
  border-bottom:2px; solid white;
}

#profile-pic img{
  border-radius:50%;
  width: 200px;
  height: 250px;
  align-items: center;
}

.flex-aside li{
  line-height: 2em;
}

meter{
  display: block;
  width: 80%;
}
meter::-webkit-meter-optimum-value{
  background: none;
  background-color: #C65353;

}

meter::-webkit-meter-bar{
  background: none;
  background-color:#DF9F9F;
}

/* MAIN  */

main section > h2 {
  text-transform: uppercase;
  lettler-spacing: 5px;
}
.hero {
  background-color: #C6B1C7;
    box-shadow: 2px 2px 50px 3px #8E898E inset;
    padding: 10% 0;
    text-align: center;
}
.hero h2 {
  color: white;
  border-top:2px solid white;
  text-transform: uppercase;
  letter-spacing:  10px;

}
.hero h1
{
  text-transform: uppercase;
  letter-spacing:  15px;
}

h1, h2
{
  text-transform: uppercase;
}

article h3,
article h4 {
  font-weight: bold;
}

/* icons */

#contacts li{
  line-height: 3em;
}

.social-item::before{
  padding-right: 2em;
}
.ln::before{
  content: "\f08c";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 2em;
}

.git::before{
  content: "\f09b";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 2em;
}

.cell::before{
  content: "\f2bb";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 2em;
}

.cr::before{
  content: "\f0e0";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 2em;
}

@media (max-width: 400px)
{
  .main-container
  width: 400px;
  flex-wrap:wrap;
  font-size: 1.2em;
}
  aside, main
  {
    flex: 100%
  }
