/* --------------------------------------------Global*/
ul
{
  list-style-type: none;

}
/*-------------------Layout---------------------*/
.flex-container
{
  display:flex;
  margin: 0 ;
  justify-content: space-around;
  align-content: center;
  justify-content: center;
  justify-content: space-between;

}
/*-------------------Aside---------------------*/

.flex-aside
{
  background-color: #5C5961;
  width:  100%;
  margin-right: 2%;
}
.flex-aside *
{
  color: white;
}

body
{
    margin: 0;
}

.flex-aside h2
{
  text-transform: uppercase;
  text-decoration-line: underline;
  text-indent: 30px;
  text-spacing: 5px;
  border-bottom: 2px solid white;
}

.flex-aside section h2:first-child
{
  border-bottom:2px; solid white;
}

#profile-pic img
{
  border-radius:50%;
  width: 13em;
  height: 15em;
  align-items: center;
}

.flex-aside li
{
  line-height: 2em;
}

meter
{
  display: block;
  width: 80%;
}

meter::-webkit-meter-optimum-value
{
  background: none;
  background-color: #C65353;

}

meter::-webkit-meter-bar
{
  background: none;
  background-color:#DF9F9F;
}

/* MAIN  */

main section > h2
{
  text-transform: uppercase;
  lettler-spacing: 5px;
}

#exp
{
    display: inline-block;
}


.hero
{
    display: inline-block;
    width: 98%;
    background-color: #C6B1C7;
    box-shadow: 2px 2px 50px 3px #8E898E inset;
    padding: 10% 0;
    text-align: center;
}

.hero h2 {
  color: white;
  border-top:2px solid white;
  text-transform: uppercase;
  letter-spacing:  8px;

}
.hero h1
{
  text-transform: uppercase;
  letter-spacing:  15px;
}

h1, h2
{
  text-transform: uppercase;
}

article h3,
article h4
{
  font-weight: bold;
}


.main p
{
    text-align: justify;
    word-wrap: break-word;
}
.main article
{
    width: 97%;
    margin: 0;
    padding: .5%;
}

/* icons */

#contacts li
{
  line-height: 3em;
}

.social-item::before
{
  padding-right: 2em;
}
.ln::before
{
  content: "\f08c";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 2em;
}

.git::before
{
  content: "\f09b";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 2em;
}

.cell::before
{
  content: "\f2bb";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 2em;
}

.cr::before
{
  content: "\f0e0";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 2em;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px)
{
  .flex-container
  {
      flex-wrap:wrap;
  }
  .flex-aside
  {
    font-size: 1.5em;
  }
}


/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 490px) and (max-device-width : 1020px) {
    .flex-container
  {
      flex-wrap:wrap;
      font-size: 2.5em;

  }
    #profile-pic img
    {
        border-radius:50%;
        width: 15em;
        height: 18em;
        align-items: center;
    }

}

/* Desktops and laptops ----------- */
@media only screen  and (min-width : 1050px) {
    .flex-container
  {
      flex-wrap:wrap;
      font-size: 3.5em;
  }
    #profile-pic img
    {
        border-radius:50%;
        width: 15em;
        height: 18em;
        align-items: center;
    }

}

/* Large screens ----------- */
@media only screen  and (min-width : 1824px) {
    .flex-container
  {
      flex-wrap:wrap;
      font-size: 5.5em;
  }
    #profile-pic img
    {
        border-radius:50%;
        width: 15em;
        height: 18em;
        align-items: center;
    }

}
