
ul {
  list-style-type: none;

}
.flex-container{
  display:flex;
  width: 1200%
  justify-content: space-around;
  align-content: center;

}
.flex-aside{

  flex-basis: 280px;
  flex-grow: 50;
}
aside {
  background-color: #647087;
  width:  30%
  margin-right: 3%;
}
aside * {
  color: white;
}

aside h2 {
  text-transform: uppercase;
  text-decoration-line: underline;
  text-indent: 30px;
  text-spacing: 5px;
}

aside section h2:first-child{
  border-bottom:2px; solid white;
}

#profile-pic img{
  border-radius:60%;

}

/* MAIN  */

.contenedor {
  display: flex;
}
main section > h2 {
  text-transform: uppercase;
  lettler-spacing: 5px;
}
.hero {
  background-color: #F7DDC3;
    box-shadow: 2px 2px 50px 3px #647987 inset;
    padding: 10% 0;
}
.hero h2 {
  color: white;
  border-top:2px solid white;
  text-transform: uppercase;
  letter-spacing:  10%;

}
.hero h1
{letter-spacing: 10%}

h1, h2
{
  text-transform: uppercase;
}

.about me {
  background-color: #F7DDC3;
}
.about me h2
{
  background-color: white;
}
article h3,
article h4 {
  font-weight: bold;
}

article ul {
  list-style-type: square;
}
/*
dt {
  clear: left;
  width: 30%;
  float: left;
  border-top: 1px solid white;
  font-weight: bolder;
}
dd{
  clear: right;
  width: 50%;
  float; left;
  margin: 0%;
  border-top: 1px solid white;
}*/
dt:last-of-type, dd:last-of-type{
  border-bottom: 1px solid white;
  font-weight: bolder;
}

dl{
  display:flex;
  flex-wrap: wrap;

}

.clear {
  clear: both;
}

dt, dd
{
  flex-basis: 40%;
  margin 0%;

}
/* icons */
.fb::before {
  content: "\f082";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;

}
.social-item::before {
  padding-right: 15px;
}

meter {
  display: block;
  width: 80%;
}

meter::-webkit-meter-optimum-value{
  background: none;
  background-color: blue;
}
meter::-webkit-meter-bar{
  background: none;
  background-color: purple;
}
